$main-blue: #0264a3;
$red: #e00101;

.checkbox {
    display: none;
}

.checkbox:checked + .burger > .burger__line {
   border-bottom: 2px solid transparent;
}

.checkbox:checked + .burger > .burger__line:after {
   transform: rotate(-45deg);
   top: 0;
 }
 .checkbox:checked + .burger > .burger__line:before {
    transform: rotate(45deg);
    top: 0;
  }

.header-top {
    background-color: $main-blue;

    

    .burger {
        height: 45px;
        width: 45px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1199px) {
            display: flex;
        }

        &__line {
            border-bottom: 2px solid white;
            width: 30px;
            height: 2px;
            position: relative;
            transition: .4s;
   
            &::after {
                content: '';
                position: absolute;
                top: 7px;
                border-bottom: 2px solid white;
                height: 2px;   
                width: 30px;   
                transition: .4s;       
            }
            &::before {
               content: '';
               position: absolute;
               top: -7px;
               border-bottom: 2px solid white;
               height: 2px;   
               width: 30px;     
               transition: .4s;     
           }
        }
    }
     

    .nav {
        height: 50px;
        

        @media screen and (max-width: 1199px) {
            display: none;
        }


        &__item {
            margin-right: 40px;
            height: 100%;
            
            @media screen and (max-width: 1199px) {
                display: none;
            }

            &:last-child {
                margin-right: 0;
            }

            &-link {
                color: white;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;

                &:hover {
                    text-decoration: none;
                    border-bottom: 3px solid $red; 
                }
            }
        }
    }
}
.header-nav {
    display: flex;
    height: 65px;
    align-items: center;
    margin: 20px 0;

    &__logo {
        margin-right: 20px; 
    }

    &__item {
        margin-right: 25px;
        margin-top: 12px;

    }

    &__social {
        display: flex;
        align-items: center;
        margin-top: 12px;

        &-group {
            margin-left: 18px;
            width: 71px;
            display: flex;
            justify-content: space-between;
        }
        &-email {
            margin-left: 12px;

        }
    }

    &__phones {
        width: 170px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;
    }

    &__button {
        background-color: $red;
        color: white;
        font-weight: 600;
        width: 224px;
        height: 64px;
        outline: none;
        border: none;
        font-size: 16px;

        &:hover {
            // animation-name: buttonAnimation;
            // animation-duration: 5s;

        }
    }   
    
    }

@keyframes buttonAnimation {
   /* from {
        background-color: green;
    }
    to {
        background-color: aqua;
    } */
    0% {
        transform: rotate(-15deg);        
    }
    5% {
        transform: rotate(0);  
    }
    10% {
        transform: rotate(15deg);  
    }
    15% {
        transform: rotate(30deg);  
    }
    30% {
        transform: rotate(0);  
    }
    40% {
        transform: rotate(-15deg);  
    }
    50% {
        transform: rotate(-180deg);  
    }
    75% {
        transform: rotate(0deg);  
    }
    100% {
        transform: rotate(-180deg);  
    }
}    


.do_it {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background: url(../images/lamp.png);
    
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.do_1 {
    background-color: #e00101;
    width: 500px;
    height: 200px;
    position: absolute;
    z-index: 0;    
}